@import url(https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap);
@import url(https://fonts.googleapis.com/css?family=Dosis:800|Lobster|Pacifico);

$JUDUL: 'Emilys Candy', serif;
$BUTTON: 'Luckiest Guy', serif;
$JDLL: 'Dosis';
