@import 'font';

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    background: #ff93a6;
    position: absolute;
    width: 100%;
    height: 100%;
}

.o_heart {
    fill: #ffb3c3;
}

.i_heart {
    fill: #fce3e9;
}

.sayhello {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    position: relative;
    z-index: 1; 
}

.sayhello-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sayhello-saying {
    font-family: $JDLL;
    font-weight: 400;
    font-size: 2.5em;
    color: #fff;
}

.sayhello-button {
    margin-top: 20px;
}

button {
    padding: 0.5em 1.2em;
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: $BUTTON;
    color: #3B1E54;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid #fce3e9;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;

    a {
        text-decoration: none;
    }

    &:hover {
        background-color: #fce3e9;
        color: #ff93a6;
    }
}

.arrow_container {
    width: 100%;
    height: 100px;
    position: fixed;
    border: 1px solid black;
    z-index: 1000;
    bottom: 15px;
    left: 0px;
}
